@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@300;400;500&display=swap");
html {
  box-sizing: border-box;
}

a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}

.container__menu {
  padding: 20px;
}
.container__menu-content {
  height: 100vh;
  background-color: #f3f3f3;
  padding: 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container__menu-content-title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 5px;
}
.container__menu-content-label {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 50px;
}
.container__menu-content-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.container__menu-content-item--hover:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-weight: 600;
  border-radius: 10px;
}
.container__menu-content-item-image {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__menu-content-item-link {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  margin-left: 12px;
  font-family: OpenSans, sans-serif;
  letter-spacing: 1px;
}
.container__menu-content-item-link-text, .container__menu-content-item-link-count {
  margin: 0;
}
.container__menu-content-item-link-count {
  background-color: #f3f3f3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1px 15px;
  border-radius: 10px;
  font-weight: 600;
}

.container__content {
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.container__content-title--text {
  font-size: 48px;
  font-family: Poppins, sans-serif;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 600;
}
.container__content-items {
  margin-top: 38px;
}
.container__content > h1 {
  margin-bottom: 25px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}
.container__content > form {
  width: 40%;
}

.container-card {
  margin-top: 12px;
  gap: 12px;
  justify-content: flex-start;
}
.container-card-label {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  padding-left: 15px;
}

.card {
  background-color: #dbf4fa;
  border: none;
  border-radius: 10px;
  width: 49%;
  min-height: 250px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.container__done {
  margin-top: 20px;
}

.no_task {
  font-family: OpenSans, sans-serif;
  letter-spacing: 1px;
}

.table {
  font-family: OpenSans, sans-serif;
}

.form_item,
form {
  font-family: OpenSans, sans-serif;
  letter-spacing: 1px;
}

#task_form > div {
  margin-bottom: 12px;
}

form > div {
  margin-bottom: 12px;
}

.container__login {
  height: 100vh;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__login-form {
  width: 40%;
}
.container__login-form-heading {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 25px;
  text-align: center;
}
.container__login-form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__login-form-buttons-reg {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container__login-form-buttons-reg > a {
  text-decoration: underline;
}
.container__login-form-buttons-reg > a:hover {
  color: green;
}

.container__register {
  height: 100vh;
}

.reg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reg > button {
  width: 100%;
  margin-bottom: 12px;
}
.reg > a:hover {
  text-decoration: underline;
}

.new-task-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=dashboard.css.map */